.font-sans {
  font-family: "noto-bold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.res {
  width: 502.53px;
  height: 624.19px;
  border: 3.5px solid;
  font-family: "noto-bold", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: white;
  position: relative;
}
.res .head {
  width: 59.71px;
  height: 100%;
  float: right;
  writing-mode: vertical-rl;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 3.5px solid;
}
.res .head_top {
  top: 0;
  right: -27px;
  font-size: 35px;
  z-index: 100;
  height: 30%;
  position: absolute;
}
.res .head_bottom {
  bottom: 0;
  right: -3.5px;
  font-size: 28px;
  height: 65%;
  z-index: 100;
  position: absolute;
  text-align: right;
}
.res .deleteTitle {
  display: none;
}
.res .txt {
  width: 432.32px;
  padding: 3.5px;
}
.res .txt h1 {
  font-size: 42px;
  text-align: center;
}
.res .txt p {
  font-size: 26.6px;
  text-align: justify;
}
.res .img {
  width: 439.32px;
  height: 439.32px;
  top: 0;
  left: 0;
}
.res img {
  width: 100%;
  height: 100%;
}
.res .deleteImgParent {
  display: none;
}
.res .noTxt {
  border-bottom: 3.5px solid;
  height: 624.19px;
}

button {
  background-color: transparent;
  text-align: center;
  width: 509px;
  margin: 30px 0px;
  padding: 4px 0px;
  border-radius: 2px;
  color: #C6C6C6;
  border: 1px solid #C6C6C6;
  box-shadow: 2.8px 2.8px #C6C6C6;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}

#input {
  background-image: url("../background_input.png");
  background-size: contain;
  width: 392px;
  float: right;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 100px;
  overflow: hidden;
  z-index: 0;
  position: relative;
  color: #C6C6C6;
  border-radius: 10px;
}
#input #container {
  position: relative;
  margin-left: 7%;
  margin-right: 7%;
}
#input #time {
  padding-top: 12px;
  padding-bottom: 20px;
  margin-right: 7%;
  width: 40%;
  float: left;
}
#input #time button {
  text-align: center;
}
#input #place {
  padding-top: 12px;
  padding-bottom: 20px;
  width: 40%;
  float: left;
}
#input #place button {
  text-align: center;
}
#input #time_place:after {
  content: "";
  display: block;
  clear: both;
}
#input button {
  background-color: transparent;
  text-align: start;
  width: 140px;
  margin: 8px 0px;
  padding: 4px 0px;
  border-radius: 2px;
  color: #C6C6C6;
  border: 1px solid #C6C6C6;
  box-shadow: 2.8px 2.8px #C6C6C6;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}
#input .projects {
  margin-top: 20px;
}
#input .projects button {
  width: 320px;
  margin-bottom: 40px;
  display: block;
  border-radius: 3px;
  color: #C6C6C6;
  border: 1px solid #C6C6C6;
  box-shadow: 3px 3px #C6C6C6;
  padding-top: 0px;
}
#input .projects .project_img {
  height: 68px;
  width: 68px;
  position: relative;
  top: 12px;
  left: 12px;
  margin: 0;
}
#input .projects .project_title {
  position: relative;
  top: -56px;
  left: 92px;
  width: 220px;
  height: 56px;
}
#input .projects .project_title h1 {
  font-size: 24px;
  line-height: 28px;
}
#input .projects .project_title .small_point {
  font-size: 16px;
  line-height: 18.4px;
}
#input .projects .project_time_place {
  display: flex;
  position: relative;
  top: -38px;
  left: 8px;
}
#input .projects .project_time_place img {
  height: 12px;
  width: auto;
  margin: 2px 4px 2px 6px;
}
#input .projects .project_time_place h2 {
  font-size: 12px;
  line-height: 14px;
  display: block;
}
#input .projects .project_txt {
  width: 296px;
  position: relative;
  top: -38px;
  left: 12px;
}
#input .projects .project_txt p {
  font-size: 12px;
  line-height: 14px;
}
#input .projects .res {
  display: none;
}

#output {
  width: 550px;
  margin-top: 50px;
  margin-left: 50px;
  padding: 50px 100px;
  background: #b41959;
  border-radius: 10px;
}

body {
  background-image: url("../background.jpg");
  background-size: contain;
  background-attachment: fixed;
}

* {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, li, a, button {
  font-family: "noto-bold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=stylesheet.css.map */