@import "input"

=font-sans
  font:
    family: "noto-bold", sans-serif
    weight: 600
    style: normal

.font-sans
  +font-sans

=header



=output
  width: 600px
  margin-top: 50px
  margin-left: 50px
  padding: 50px 100px
  background: $red
  border-radius: 10px

#input
  +input

#output
  +output

body
  background-image: url("../background.jpg")
  background-size: contain
  background-attachment: fixed

*
  padding: 0px
  margin: 0px

h1, h2, h3, h4, h5, h6, p, li, a, button
  +font-sans

a
  text-decoration: none
  //border-bottom: 2px solid $blue
  color: black